<!--
  Generated template for the DetalhesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalhes do post</ion-title>
    <ion-buttons start>
        <button ion-button (click)="close()">
          <span ion-text color="primary" showWhen="ios">Fechar</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <ion-card-header>
      {{ post.title | uppercase }}
    </ion-card-header>
    <ion-card-content>
      {{ post.body }}
    </ion-card-content>
  </ion-card>
</ion-content>
