<ion-header>
  <ion-navbar>
    <ion-title>
      Teste TavApps
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let post of posts" (tap)="detalhes(post)">
      {{ post.title | uppercase }}
    </button>  
  </ion-list>
</ion-content>
